/* General Styles */
:root {
  /*winter*/
  --baby-blue: #7ac7edff;
  --azure-web: #e0f2f4ff;
  --prussian-blue: #173450ff;
  --glaucous: #547ca9ff;
  --rose-ebony: #593832ff;
  /*fall*/
  --buff: #d2a987ff;
  --burnt-orange: #b05821ff;
  --sandy-brown: #f69243ff;
  --bole: #753b31ff;
  --chocolate-cosmos: #621719ff;
  /*spring*/
  --finn: #542460ff;
  --plum-web: #eaafecff;
  --pomp-and-power: #a066a2ff;
  --dark-spring-green: #026f26ff;
  --malachite: #6edc68ff;
  /*summer*/
  --bronze: #c27b16ff;
  --coral: #f17f4bff;
  --green-yellow: #bdeb4cff;
  --forest-green: #408a31ff;
  --blue-green: #0362bc;
  /*buttons*/
  --earth-yellow: #fae58eff;
  --raw-umber: #a1623aff;
  --caf-noir: #4f301eff;
  /* font family*/
  --font-family: "VT323", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
  scrollbar-color: var(--caf-noir) transparent;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 500vh;
  width: 100vw;
  overflow: scroll;
  font-family: var(--font-family);
  text-shadow: 1px 1px 1px wheat;
  cursor: url("assets/images/cursor.png"), auto;
  overflow-x: hidden;
}
a,
button {
  cursor: url("assets/images/pointer.png"), pointer;
}
.mainLogo {
  text-align: center;
  position: absolute;
  width: 100vw;
  top: 200px;
}
.mainLogoImage {
  width: 65%;
}
/* Header */
.header {
  background: transparent;
  color: white;
  height: 15vh;
  width: 100%;
  /*added 4 lines below for layers*/
  position: fixed;
  z-index: 30;
  display: flex;
  justify-content: center;
}

.header-navbar {
  min-height: 100%;
  width: 60%;
  background-image: url(/assets/images/backgrounds/header-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px white;
}
/* Navbar elements */
.header-navbar-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  margin: 0;
}
.navbar-li a {
  text-decoration: none;
  color: var(--caf-noir);
}
.navbar-btn {
  background: transparent;
  border: none;
}
.navbar-li-icon {
  width: 2rem;
  height: 2rem;
}
/*Shop Sections Navbar*/
.navbar {
  background: transparent;
  padding: 0;
  max-width: 100%;
  height: 20%;
  display: block;
}
.menu-button {
  background: transparent;
  border: none;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 1rem;
  height: 100%;
}

.nav-item,
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--chocolate-cosmos);
  cursor: url("assets/images/pointer.png"), pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-item .icon {
  max-height: 80%;
  transition: transform 0.3s ease;
}

.nav-item .text {
  font-size: 0.9rem;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding-top: 1rem;
  font-family: var(--font-family);
}

.nav-item:hover .icon,
.nav-item.active .icon {
  transform: scale(1.2);
}

.nav-item:hover .text,
.nav-item.active .text {
  opacity: 1;
  transform: scale(1);
  font-family: var(--font-family);
}

/*Main Categories Section */
.main {
  background: linear-gradient(180deg, var(--earth-yellow), var(--blue-green));
  display: flex;
  height: 500vh;
  gap: 30vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /*added for layers*/
  position: relative;
  z-index: 1;
}
.h2 {
  margin: 0;
  padding: 1rem 0 0 0;
  font-size: 1.8rem;
}
.h3 {
  padding: 1rem 0 0 0;
  font-size: 1.3rem;
  margin: 0;
}
.p {
  padding: 1rem 0 0 0;
  font-size: 1.2rem;
  margin: 0;
}
.section {
  /*changed height for layers fix it later*/
  height: 70vh;
  background-image: url(/assets/images/backgrounds/section-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 80%;
  border-radius: 0.3rem;
}
.home-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 100%;
  max-width: 100%;
}
.home-section {
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;
  justify-items: center;
}
.video-responsive {
  min-height: 100%;
  min-width: 60%;
  padding: 1rem 3rem;
  max-height: 315px;
  max-width: 560px;
}
.video-responsive iframe {
  width: 100%;
  height: 100%;
  border: 4px solid var(--burnt-orange);
  border-radius: 3px;
}

/*Shop Sections Products Display*/
.product-div {
  margin: 0 1.5rem;
}
.products-Ul {
  padding: 0 1rem;
  margin: 1rem 0 0 0;
  overflow-y: auto;
  max-height: 49vh;
  scrollbar-color: var(--caf-noir) transparent;
  border-radius: 3px;
  border-top: 3px solid var(--burnt-orange);
}
.products-Ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid var(--burnt-orange);
  padding: 1rem 0;
}
.products-Ul li img,
.products-Ul li p {
  width: 3rem;
  height: 3rem;
}
.products-Ul li p {
  font-size: 1.2rem;
  font-weight: 800;
  display: flex;
  flex-direction: row-reverse;
}
.products-Ul li .price-icon {
  width: 27px;
  height: 27px;
}
.products-Ul li h3 {
  width: 7.5rem;
  height: 2.5rem;
}
.products-Ul li button {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: 800;
  color: var(--caf-noir);
}
.products-Ul li button:hover {
  transition: transform 0.2s ease;
  transform: scale(1.2);
}
.div {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 80%;
}

/*Seasonal themes*/

.winter {
  /*added to see if its work*/
  color: var(--caf-noir);
}

/*trying background layering*/
.panel-div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px; /*it was '1000px' changed it to see if parallax animation working*/
  overflow: hidden;
  z-index: -20;
}
.panel-layer {
  height: 130vh; /*it was '100vh' changed it to see if parallax animation working*/
  width: 100%;
  position: fixed;
  transform: translate3d(0px, 0px, 0px);
  background-repeat: no-repeat;
}
.layer {
  height: 1000px;
  width: 100%;
  z-index: -1;
}
.layer0a {
  background-image: url(/assets/images/backgrounds/parallax1.png);
}
.layer0b {
  background-image: url(/assets/images/backgrounds/parallax2.png);
}
.layer0a,
.layer0b {
  position: absolute;
}
.pixelated {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
@keyframes slide {
  from {
    transform: translateX(0); /* Start off-screen to the right */
  }
  to {
    transform: translateX(100%);
  }
}
.layer1 {
  background-image: url(/assets/images/backgrounds/parallax3a.png);
}
.layer2 {
  background-image: url(/assets/images/backgrounds/parallax3b.png);
}
.layer1,
.layer2 {
  animation: slide 80s linear infinite;
  opacity: 0.2;
}
.layer3 {
  background-image: url(/assets/images/backgrounds/parallax4.png);
}
.layer4 {
  background-image: url(/assets/images/backgrounds/parallax5.png);
}
.layer5 {
  background-image: url(/assets/images/backgrounds/parallax6.png);
}
.layer6 {
  background-image: url(/assets/images/backgrounds/parallax7.png);
}
.layer7 {
  background-image: url(/assets/images/backgrounds/parallax8.png);
}
.layer3,
.layer4,
.layer5,
.layer6,
.layer7,
.divider {
  background-position: bottom center;
}
.layer8 {
  background-image: url(/assets/images/backgrounds/parallax9.png);
  background-position: bottom left;
}
.layer9 {
  background-image: url(/assets/images/backgrounds/parallax10.png);
  background-position: bottom right;
}
/*divider home*/
.divider {
  background-image: url(/assets/images/backgrounds/sdv_divider.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
}
.services-section {
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
}
.carousel {
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carousel-control {
  width: 5rem;
  height: 5rem;
  color: var(--caf-noir);
  background: none;
  border: none;
}
.service {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  gap: 8%;
  padding: 0 2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}
.hidden {
  display: none;
}
.service-icon {
  width: 6rem;
  height: 6rem;
}
.service-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
}
.div {
  width: 100%;
}
.carousel-track {
  padding: 0;
  background-image: url(assets/carousel/services-det-back.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 70%;
  height: 85%;
}
.search-container {
  display: flex;
  align-items: start;
  position: relative;
  height: 100%;
  padding-top: 2px;
}

#search-btn {
  background: none;
  border: none;
}

.search-icon {
  width: 48px;
  height: 48px;
}

#search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  outline: none;
  transition: width 0.3s ease, opacity 0.3s ease;
}

#close-search {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--caf-noir);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.search-expanded #search-input {
  width: 150px;
  opacity: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-expanded #close-search {
  opacity: 1;
}
.contact-info-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
.contact-info {
  text-align: left;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 0 30%;
}
.contact-container {
  margin: 0 auto;
  width: 80%;
  padding: 0 2rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #8b5a2b;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  background-color: #8b5a2b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #6b3e1b;
}
.avatar {
  width: 8rem;
  height: 8rem;
}
.footer {
  height: 80vh;
  background-image: url(assets/images/backgrounds/stardewbackground.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cart-count {
  background: var(--caf-noir);
  color: var(--earth-yellow);
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}
.cart {
  position: relative;
  background: var(--buff);
  border: 2px solid #ccc;
  padding: 15px;
  display: none; /* Initially hidden */
}
.cart-img {
  max-width: 38px;
  max-height: 38px;
}
.cart-product-name {
  font-size: 1rem;
  margin: 0;
}
.cart-product-price {
  font-size: 1rem;
  margin: 0;
}
.delete-btn {
  background-color: var(--earth-yellow);
  border: none;
  color: var(--caf-noir);
  font-weight: 800;
  padding: 2px;
  min-width: 1rem;
  min-height: 1rem;
}
#close-cart-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--earth-yellow);
  text-shadow: 1px 1px 1px var(--caf-noir);
}

#cart-container {
  width: 18%;
  display: none;
  position: fixed;
  right: 5px;
  top: 10px;
  background: var(--raw-umber);
  color: var(--earth-yellow);
  text-shadow: 1px 1px 1px var(--chocolate-cosmos);
  padding: 10px;
  border: 3px solid var(--caf-noir);
  border-radius: 2px;
}
#cart-list {
  list-style: none;
  text-align: left;
  padding: 0;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
#cart-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--earth-yellow);
}
#cart-container.visible {
  display: block;
}
.checkout-btn {
  background-color: var(--earth-yellow);
  color: var(--caf-noir);
  font-family: var(--font-family);
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--caf-noir);
  border-radius: 5px;
  font-size: 1rem;
}
.checkout-btn:hover {
  background-color: var(--buff);
  color: var(--caf-noir);
  text-shadow: 1px 1px 1px var(--earth-yellow);
}